.section {
  display: flex;
  justify-content: center;
  min-height: 800px;
  background-color: #999999;
}

.section-list {
  display: flex;
  justify-content: center;
 flex-wrap: wrap;
  max-width: 1100px;
  .list-reset();
}

.section-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  margin: 10px;
  background-color: white;

  a {
    color: red;
    text-decoration: none;
  }
}
